<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="static/loginreg/css/home.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.17.0/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <title>NDS</title>
    <!-- <link rel="stylesheet" href="rk.css"> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" /> -->
  </head>

  <body>
    <!-- <header>
    <div class="navbar">
        <nav>
            <div class="nav1">
                <ul>
                    <li>
                        <h2>Elifor</h2>
                        <h6>Technologies</h6>
                    </li>
                    <li>
                        <a href="home">
                            <button>Home</button>
                        </a>
                    </li>
                    <li>
                        <a href="about">
                            <button>Who we are</button>
                        </a>
                    </li>
                    <li class="dropdown">
                        <button>What we detect</button>
                        <div class="dropdown-content">
                            <a href="">Web Applications</a>
                            <a href="">App Development</a>
                            <hr style="color: blue" />
                            <a href="">Integrated Cyber & BC </a>
                        </div>
                    </li>
                    <li>
                        <a href="">
                            <button>Contact</button>
                        </a>
                    </li>
                </ul>
            </div>
            <div id="user-sign">
                <div id="signin">
                    <div id="signin2">
                        <a href="/login" class="signin-btn">SignIn</a>
                    </div>
                </div>
                <div id="signup">
                    <div id="signup2">
                        <a href="/register" class="signup-btn">SignUp</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header> -->
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light nav">
        <a class="navbar-brand" href="#"
          >Elifor <br />
          Technologies</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#"
                >Home <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
          <!-- <a href="contact.html" ><button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          Signin
        </button></a> -->
          <div class="authenticaton-btn">
            <a href="/signin.html" class="custom-btn">SignIn</a>

            <a href="/signup.html" class="custom-btn">SignUp</a>
            <a href="logout" class="custom-btn">logout</a>
          </div>
        </div>
      </nav>
    </header>

    <script>
      function myFunction() {
        document.getElementById("list1").style.color = "red";
        document.getElementById("list1").style.color = "blue";
      }
    </script>
    <div class="container">
      <div class="container1">
        <h1 id="title1">Neurological Disorder</h1>
        <br />
        <h1 id="title3">System<span>!</span></h1>
        <div class="start-button">
          <!-- <button type="button" class="btn btn-primary">Primary <i class="bi bi-pencil-square text-primary"> </i>  </button> -->
          <a href="" class="text-decoration-none" style="color: white"
            >Get Started ></a
          >
          <span><i class="bi bi-cloud-upload"></i></span>
        </div>
      </div>
      <div class="container2">
        <svg
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 200 200"
          style="enable-background: new 0 0 120 180"
          xml:space="preserve"
        >
          <g>
            <path
              class="st2"
              d="M62.8,117.2c0,0-7.8-0.6-11.6-1.3c-3.9-0.7-7.9-3-12.7-5.8s-6.3-0.2-7.8-5.3c0,0-0.4-1.3-1.9-2.2
              c-1.5-0.9-3.3-1.8-3.8-5.4c-0.4-3.6-1.6-2-1-4.1"
            />
            <path class="st2" d="M28.2,93.8c0,0-6.1,1.6-5.8-5.3" />
            <path
              class="st2"
              d="M33.8,91.8c0,0-4.9,3.6-6.5-1c-1.6-4.6-5.4,1-5.3-4.9c0.1-5.9,0.6-8.1,2.2-10.3c0,0-3.4,1.6-2.8-4.6
              c0,0-5.6,0.6-1.5-6.1s2.8-1.4,3.5-7.5s5.3-9.7,5.9-9.9c0.7-0.2,2.5-3.3,5.2-0.9"
            />
            <path
              class="st2"
              d="M43.4,76.1c0,0-2.7,2.1-5.3,0c-2.6-2.1-4.1,0.3-5.1,0.9c-1,0.6-10.5,1.5-7.3-4s1-5.8,4.6-8.6
              c0,0-0.1-3.8,4.5-8.8s5.1-6.1,7-6.1c1.9,0.1,2.3,1.3,2.3,1.3"
            />
            <path
              class="st2"
              d="M41.8,49.6c0,0-1.1-0.8,3.1-4.7s5.5-6.3,9.8-5.9"
            />
            <path
              class="st2"
              d="M59.2,40.8c0,0-1.7,2-3,0.8c-1.3-1.2-2.8-2.7,0-5.8c2.8-3.1,6.8-3.9,7.9-3.6c0,0,8.8-7.2,14.7-7
              c0,0,2.7-0.6,4.3,0"
            />
            <path
              class="st2"
              d="M79.8,37.9c0,0-0.8-1.8,1.3-3.9s1.1-4.6,0.6-5.4c-0.5-0.8,0.4-4.3,3.9-4.7s2.9-0.9,4-1
              c1.1-0.1,4.9-1.5,10.4,0.5c0,0,7.2-1.1,8.6,0.6c0,0,6.6,3.8,6.3,9.6s-8.2,11.7-10.4,15.1s-1.1,4.3-0.9,5.2
              c0.2,0.9,1.4,8.8,0.3,11.6c-1.1,2.8-1.2,4-0.3,6.2c0.8,2.2-0.6,4-0.8,5.2c-0.2,1.2-1,5.1,1.7,4.9c2.6-0.1-0.9,4.2-2.2,5.3
              c-1.3,1.1-2.4,2.6-2.4,2.6"
            />
            <path
              class="st2"
              d="M141.2,48.3c-4.1-3.5,0.6-7.4-5.8-8.7c-6.3-1.3-6.5-4.8-6.5-4.8c-7.1-18-20.8-11.2-20.8-11.2"
            />
            <path
              class="st2"
              d="M125.8,28.9c0,0,2.2-0.5,3.7,1c0,0,4.5,0.1,5.4,2.2c0.9,2.1,4.4,3.4,5.4,3.1s5,3,5.8,7s3.7,4.5,4,9"
            />
            <path
              class="st2"
              d="M149.5,48.6c0,0,6.5,4,7.6,10.6s3.3,7.4,4.1,8.7s1.9,2.2,1,7.5c-1,5.2,1.9,6,1.2,10.9
              c-0.7,4.9-2.4,2.9-3.3,5.1c-0.9,2.2-3,7.1-5.8,8.2c0,0-4.3,4.5-8.4,5.8c-4.1,1.3-7.4,2.8-10.3,5.5c-2.8,2.7-8.2,2.2-9.5,1.4
              c0,0-4.7,6.6-14.9,9s-12,3.7-12,3.7s-4.7,2.9-9.3-0.5l-0.6-0.4"
            />
            <path
              class="st2"
              d="M117.8,79.7c-2.3-2-3.9,1.4-4,1.9c-0.1,0.5-4,4.7-5.1,5.8s-8.7,7.5-14,10.6c-5.3,3.2-16.8,8.3-16.8,8.3
              c-1.9-0.3-2.5,1.5-3.1,1.7c-0.7,0.2-2.2,0-2.1,7.1c0.2,7.1,4.2,5.1,5,6.2c0.8,1.1,3.1,1.7,4.2,1.8c1.2,0.2,4.2,3.5,9.2,0
              c5-3.5,7.3-3.1,7.3-3.1"
            />
            <path
              class="st2"
              d="M35.4,103.3c0,0,5.5-2.2,9.9,3.2s6.8,4.3,9.1,4.2s2.2-0.6,3.9-0.6s3.5,1.6,5.3-1c0,0,3.2,3.7,6.7,1.1
              c3.5-2.6,1.3-5.8,5.4-9.5c4.1-3.7,5.4-0.1,8.6-2.7c0,0,0.8-0.9,1.2-1.8"
            />
            <path class="st2" d="M39.3,103c0,0-2.1-1.3-2.6-4.4" />
            <path class="st2" d="M73,117.5c-16.6,5.5-8.5-7.5-8.5-7.5" />
            <g>
              <path
                class="st2"
                d="M134.9,86.4c-2.2,1-6.3,5.9-6.6,6.5c-0.3,0.6-8.1,9.9-11.6,8.8c-3.5-1.1-4.2,1.9-4.6,2.3s-2.3,3.3-5.6,5.2
                  c-3.3,1.8-3.9,8.2-3.9,8.2"
              />
              <path class="st2" d="M98.5,114.8c0,0,4.8-3.9,6.4-4.1" />
            </g>
            <g>
              <path
                class="st2"
                d="M117.8,50.6c0,0-0.4,3.1-2.3,4c-1.9,0.9-1.2,3.3,0,6.4c1.2,3-2.3,7.5-3.6,7.8c-1.3,0.3-2.2,4.7-1.9,6.9
                  c0.3,2.2-1.3,2.8-1.3,2.8"
              />
              <path class="st2" d="M113.3,50c0,0,1.8,2.6,1.7,4.9" />
            </g>
            <path
              class="st3"
              d="M119.8,70.8c0,0,3-1,6-0.4c3,0.6,5.2,6.9,3.8,7.9c0,0-1.3,2.9-2.4,3.4"
            />
            <g>
              <path
                class="st3"
                d="M141.3,81.1c0,0,0.9-3.9,3.1-4.7c2.1-0.8,0-7.8-3.8-8.3c-3.9-0.5-5.3-8.1-5.2-14.2s-6.3-11.4-10.4-8.2"
              />
              <path class="st3" d="M148.1,80.4c0,0-1.1-2.7-3.7-4" />
            </g>
            <g>
              <path
                class="st2"
                d="M98.4,32.2c0,0,4.4,3.7-4,9.1c0,0-4.7,2-3.8,7.5s-3.7,5-5.2,8.8c-1.5,3.8,1.1,7.3,1.1,7.3"
              />
              <path class="st2" d="M76.6,64.5c0,0,2.8-4.6,8.6-5.8" />
            </g>
            <path
              class="st3"
              d="M75.4,40.1c0,0-2.6,2.4-2.9,5.5c-0.4,3.1-2.7,8.1-4.6,8.8c-1.9,0.7-8.5-1-9.7,0c-1.2,1-0.7,8.3-2.3,13
              c-1.6,4.7-5.7,6.2-8.3,2.6"
            />
            <path
              class="st2"
              d="M69.8,74.4c0,0-3.6,0.9-3.7,3.2c-0.1,2.4-1.7,5-4.3,5.6c-2.6,0.6-3.1,2.5-4.4,3s-4.3,1.2-5.3,7.4
              c0,0-5.3,0-8.6-5.5s-8.7-4.2-8.9-3.6"
            />
            <path
              class="st3"
              d="M64.6,99.2c0,0,1.2-10,10.2-11.5c9-1.5,6.9-5.9,8.1-7.2s5.6-4.7,8.9-4.3"
            />
            <path
              class="st2"
              d="M104.8,123c0,0,7.5,13.1,21,7.1c0,0,6.9-1.7,7-5.4c0,0,10.8-1.7,8.2-17.4"
            />
            <path
              class="st3"
              d="M73.8,119.5c0,0-1.7,1.3,3.9,14.2c0,0,2.6,10.8,9.3,9.1c6.7-1.7,10.2-2.2,19.6-10.2"
            />
            <path
              class="st3"
              d="M84.4,142.8c0,0,3.4,10,2.8,14.1s2.6,9.7,5,10.8s0.6,9.3,1.8,14.5c1.2,5.2,4.5,11.6,4.5,11.6
              s6.2,3.7,16.4-4.5c0,0-4.9-15.3-6.2-27.4s1.8-32.9,1.8-32.9"
            />
            <line class="st3" x1="107.8" y1="122.2" x2="120.7" y2="131.6" />
            <line class="st3" x1="110.3" y1="121.6" x2="123.1" y2="130.8" />
            <line class="st3" x1="112.5" y1="120.8" x2="125" y2="130" />
            <line class="st3" x1="115.1" y1="120.2" x2="128.1" y2="129.7" />
            <line class="st3" x1="116.9" y1="119.5" x2="129.3" y2="128.5" />
            <line class="st3" x1="118.7" y1="118.6" x2="131.2" y2="127.5" />
            <line class="st3" x1="120.3" y1="117.8" x2="132.7" y2="126.5" />
            <line class="st3" x1="121.6" y1="116.5" x2="132.9" y2="124.7" />
            <line class="st3" x1="123.1" y1="115.5" x2="134.9" y2="124" />
            <line class="st3" x1="124.3" y1="114.4" x2="136.6" y2="123" />
            <line class="st3" x1="125.5" y1="113.2" x2="138" y2="121.8" />
            <line class="st3" x1="128.1" y1="112.8" x2="139" y2="120.6" />
            <line class="st3" x1="131.2" y1="113.2" x2="139.6" y2="119.1" />
            <line class="st3" x1="132.7" y1="112.4" x2="140.6" y2="117.8" />
            <line class="st3" x1="134.6" y1="111.7" x2="141" y2="116.2" />
            <line class="st3" x1="136" y1="110.6" x2="141.3" y2="114.5" />
            <line class="st3" x1="137.4" y1="109.4" x2="141.4" y2="112.4" />
            <line class="st3" x1="138.4" y1="108.4" x2="141.5" y2="110.9" />
            <line class="st3" x1="106" y1="123" x2="118.3" y2="132" />
            <path
              class="st2"
              d="M25.8,99.6c0,0-6.2,1.4-8.6-5.7c-2.4-7-1.8-7.2-3.7-9.6s2-11.7,5-14.1"
            />
            <path class="st2" d="M32.9,46c0,0,9.9-14.1,14.7-13.7" />
            <path
              class="st2"
              d="M46.4,37.4c0,0,0.7-8,7.4-10.4s6.9-2.2,10.9-3.8s5-5.2,10.8-2.1"
            />
            <path
              class="st2"
              d="M74.1,20.5c0,0,1.4-1.5,5.6-2.4c4.2-1,10.6-2.8,13.5,0c3,2.8,5.5,2.7,6.6,2.4c1.1-0.3,4.5,0,7.1,2.7"
            />

            <!-- Neuron circle -->
            <g id="neurons">
              <circle class="neuron" cx="0" cy="0" r="2" fill="#FF0000">
                <animateMotion
                  dur="5s"
                  repeatCount="indefinite"
                  keyPoints="0;0.5;1"
                  keyTimes="0;0.5;1"
                >
                  <mpath href="#neuronPath" />
                </animateMotion>
              </circle>

              <!-- Add more circles as needed -->
            </g>

            <!-- <g id="neurons">
              <circle class="neuron" cx="0" cy="0" r="2" fill="#FF0000">
                  <animateMotion dur="5s" repeatCount="indefinite" keyPoints="0;0.5;1" keyTimes="0;0.5;1">
                      <mpath href="#neuronPath" />
                  </animateMotion>
              </circle>
  
          </g> -->
          </g>
          <!-- Neuron Path -->
          <path
            id="neuronPath"
            fill="none"
            stroke="#000"
            stroke-width="0.5"
            d="M62.8,117.2 ... [your brain path] ..."
          />
        </svg>
      </div>
    </div>

    <section
      id="hero-section"
      class="mb-4 mt-12 grid grid-flow-row gap-4 rounded-2xl bg-neutral-50 p-8 md:mb-20 md:mt-14 md:p-12"
    >
      <h2 class="text-2xl font-medium leading-tight tracking-tight lg:text-3xl">
        Online Neuro Disease Detection System
      </h2>
      <!-- <div
        class="max-w-none md:columns-2 prose prose-neutral prose-a:no-underline prose-a:text-blue-600 marker:text-xl marker:text-blue-600 description"
      > -->
      <div container text-center>
        <div class="row">
          <div class="col">
            <p>
              Welcome to our Neurological Disorder System – your gateway to
              revolutionary brain health insights. Our platform integrates
              cutting-edge Deep Learning Models to detect Brain Tumors from MRI
              images with unparalleled accuracy.&nbsp;Say goodbye to cumbersome
              file transfers; effortlessly share your findings with friends,
              colleagues, or medical professionals by simply sending them a
              link.Utilize our free detector software about neurological health.
              Save, share, and control the privacy settings of your videos –
              whether for work or personal use.
            </p>
          </div>
          <div class="col">
            <p>
              Explore the future of neurological health with our cutting-edge
              Neurological Disorder System. Seamlessly integrate our Deep
              Learning Models to detect brain tumors, Alzheimer's disease, and
              Parkinson's disease from MRI images. No more complex file
              transfers – just upload your MRI image, and our system provides
              accurate insights. Share your diagnosis effortlessly using our
              user-friendly function, allowing friends, family, or medical
              professionals to view results directly in their browser. Set
              privacy controls, enable timestamped commenting, and experience a
              new era of collaborative health discussions. Simplify the journey
              to understanding your brain health with our intuitive and
              innovative platform.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section
      id="hero-section2"
      class="mb-4 mt-12 grid grid-flow-row gap-4 rounded-2xl bg-neutral-50 p-8 md:mb-20 md:mt-14 md:p-12"
    >
      <h2 class="text-2xl font-medium leading-tight tracking-tight lg:text-3xl">
        Revolutionizing Neurological Health Insights
      </h2>
      <!-- <div
        class="max-w-none md:columns-2 prose prose-neutral prose-a:no-underline prose-a:text-blue-600 marker:text-xl marker:text-blue-600 description"
      > -->
      <div container text-center description2>
        <div class="row">
          <div class="col">
            <p>
              Embark on a seamless journey of neurological exploration with our
              state-of-the-art platform. Diverging from conventional video
              players, our focus extends beyond mere entertainment – we
              specialize in the precise detection of neurological conditions.
              Through the seamless integration of our advanced model, users can
              effortlessly upload MRI images for swift and accurate evaluations.
              Immerse yourself in a distraction-free experience as our platform
              eliminates external suggestions, ensuring undivided attention to
              critical neurological information. Whether uncovering potential
              brain tumors, identifying signs of Alzheimer's, or detecting
              symptoms of Parkinson's disease, our high-quality streaming and
              ad-free environment prioritizes your health journey. Join us in
              revolutionizing neurological well-being, free from the
              distractions found on conventional platforms.
            </p>
          </div>
          <div class="col">
            <div class="outside-border">
              <div class="inside-border">
                <img src="loginreg/static/images/neuro1-nds.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
