{% extends "base.html" %}

{% block start %}
    <style>
        .form-control {
            margin: 20px 0px;
        }
    </style>

    <div class="container mt-5">
        <h2 style="text-align: center;">Login</h2>
        <form id="LoginForm" method="post" action="{% url 'login' %}" class="needs-validation bg-white shadow rounded p-5" novalidate>
            {% csrf_token %}
            {% if messages %}
            <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
            </ul>
            {% endif %}

            <div class="form-group">
                {{ form.email.label_tag }}
                {{ form.email }}
            </div>
            <div class="form-group">
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
            <button type="submit" class="btn btn-primary" id="submitBtn"  style="display: block; margin: 0 auto;">Login</button>
            <div class="Move"  style="text-align: center;"><label>Do not have account</label><a href="/register">Register</a></div>
        </form>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("submitBtn").addEventListener("click", function (event) {
                var form = document.getElementById("RegisterForm");
                if (!form.checkValidity()) {
                    event.preventDefault(); // Prevent form submission if not valid
                    event.stopPropagation();
                }
                form.classList.add("was-validated");
            });
        });
    </script>
{% endblock %}
